%btn {
    display: inline-block;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 4px;

    &:hover {
        transform: scale(.98);
    }
}

.btn-primary {
@extend %btn;
background-color:rgb(202, 142, 120);
color: blanchedalmond;
text-decoration: none;
}

.btn-secondary {
@extend %btn;
background-color:rgb(202, 142, 120);
    color: blanchedalmond;
    text-decoration: none;
}

.btn-primary:hover {
    
    background-color:burlywood
}

.btn-secondary:hover {
    
    background-color:burlywood
}
