@import 'config';
@import 'buttons';
@import 'gallery';


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $main-color;
    font-family: $main-font;
}

.showcase {
    background-color: $secondary-color;
    color: black;
    height: 510px;
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $main-color;
    
    }

    ul {
        display: flex;
        list-style: none;
        

        li {
            margin: 20px;   
        }
        a {
            text-decoration: none;
            color: $dark-color;
            font-weight: bold;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
            
        }
        a:hover {
            color: blanchedalmond;
        }

    }
    &-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        h1 {
            font-size: 55px;
            line-height: 1.2;
        }
    }
    p {
        margin: 20px 0;
        font-family: $main-font;
        font-weight: bold;
        font-size: 30px;
    }
    h2 {
        font-size: 45px;
        font-weight: bold;
        color: $dark-color;
    }
}

.container {
    max-width: 1100px;
    padding: 0 30px;
    margin: auto;
    

}

h3 {
    text-align: center;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about-us {
    background-color: rgb(241, 245, 243);
    
}